@page "/"
@using Domain;

<h1>Snake Eyes</h1>
<div>
    <Dice Pips="@_game.Eye1" />
    <Dice Pips="@_game.Eye1" />
</div>
<p>
    Score: @_game.Total
</p>

@code {
    private Game _game = new();
    
}
